</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CROPIFY</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/aboutfav.png">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="/static/assets/LOGO.png" alt="No img">
        </div>
        <div class="btn">
            <button onclick="redirect_to_aboutapp()">About App</button>
            <button onclick="redirect_to_dashboard()">Dashboard</button>
        </div>
    </div>
    <div class="main">
        <div class="image">
            <img src="/static/assets/BGIMG2.jpg" alt="Image failed">
        </div>
        <div class="text">
            <h1>
                Crops Diseases In Agriculture
            </h1>
        </div>
        <div class="btn2 get_started">
            <button onclick="redirect_to_aboutapp()">
                Get Started
            </button>
        </div>
    </div>

        <div class="sec_2">
            <div class="sec2_text">
                <h1>
                    Empowering Plant Protection, Effortlessly
                </h1>
                <p>
                    Utilize advanced image processing algorithms tailored for plant infection detection, leveraging Cropify to effortlessly identify and analyze crop color features. "Detect, protect, safeguard your harvest."
                </p>
            </div>
            <div class="sec2_img">
                <img src="/static/assets/mob.png" alt="Cropify">
            </div>
        </div>
        
    </div>
    <script src="/static/script.js">

    </script>
</body>

</html>



 